<div class="text-center">
    <h1 class="display-4">I'm Ramses Valenzuela</h1>
    <h2>I'm a Software Engineer specialized in JAVA, JAVASCRIPT AND C# development. </h2>

    <img id="Profile_picture"
         src="~/images/img_2680.png" alt="Ramse's Picture" />

</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md7 home_section">
        <h1>Welcome to my portfolio</h1>
        <p class="text-center">
            Software Engineer with experience in software design and implementation, 
            proficient in a wide range of programming languages, including JavaScript, Java, C#, and .NET. Specialized in web and desktop 
            application development, with a particular focus on JavaScript. Actively involved in significant projects, 
            demonstrating the ability to solve complex challenges and deliver efficient solutions.
        </p>
    </div>
</div>