@model IEnumerable<ProjectDTO>

@if (Model is not null)
{
    <div class="text-center" style="padding-top: 6rem;">
        <h1> My most recent work</h1>
        <p>Here you can watch my most recient projects</p>
    </div>

    <partial name="_projectListed" model="Model" />
}