<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-hdd-fill"></i>
            <h3>Back-end</h3>
            <p>Trabajo desde el desarrollo</p>

            <p class="text-primary header">Stack: </p>

            <p>ASP.NET Core, SQL Server, MongoDB</p>

            <p class="text-primary header">Expertise</p>

            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>POO</li>
                <li>SOLID</li>
            </ul>

        </div>

        <div class="col col-3 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi-code-slash"></i>
            <h3>Front-end</h3>
            <p>I may create strong front-end</p>

            <p class="text-primary header">Stack: </p>

            <p>Angular, VueJS, Ionic and Blazor</p>

            <p class="text-primary header">Expertise</p>

            <ul>
                <li>Angular Material</li>
                <li>Vue Router</li>
                <li>Entity Framework Core</li>
                <li>Blazor WASM</li>
            </ul>
        </div>
    </div>
</div>