@model IEnumerable<ProjectDTO>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>My most recent work</h1>
    <p>here you can find all the projects in which I have worked on</p>

</div>

<partial name="_projectListed" model="Model" />

